name: Deploy Static Report to GitHub Pages

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Upload static website
        uses: actions/upload-pages-artifact@v3
        with:
          path: report/*  # Upload contents of 'report', not the folder itself

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
